<h1>comments</h1>
<table class="table">
	<thead>
		<tr>
			<th>COMMENTS</th>
			<th>PRODUCTS</th>
		</tr>
	</thead>
	<tbody>
		<% @comments.each do |comment| %>
		<tr>
			<td><%= comment.comment %></td>
			<td><%= comment.name %></td>
		</tr>	
		<% end %>
	</tbody>
</table>
<a href="/products">GO BACK</a>